<%- include('head') %>
<%- include('navbar') %>

<br>
<div class="d-flex flex-column align-items-center">
    <br>
    <h1>About us</h1>
    <br><br>
    <h4>
        This website was created as an MVP for a programming test.<br><br><br>
        It features:<br><br>
        <ul>
            <li>Multiple pages, navigable by the tabs above</li>
            <li>The ability to create an account and log-in</li>
            <li>View all public entries in the database from the Directory tab</li>
            <li>Create and manage your personal entries from the Inventory tab</li>
        </ul>
        <br>
        Tools used include:<br><br>
        <ul>
            <li>Node.js</li>
            <li>ExpressJS</li>
            <li>EJS</li>
            <li>Bootstrap</li>
            <li>MySQL?</li>
        </ul>
        <br><br><br>
        For any questions, please contact me at William.Pope.20@SpaceForce.mil
    </h4>
</div>
<br>


</body></html>