<%- include('head') %>
<%- include('navbar') %>

<br>
<div class="m-3 d-flex flex-column align-items-center">
    <div class="text-danger fw-bold display-1 m-3 p-3">
        404
    </div>
    <h1>Page not found!</h1>
    <br>
    <img src="./404.gif" />
</div>

</body>